@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Thin.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Thin.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-ThinItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-ThinItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-ExtraLight.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-ExtraLight.woff') format('woff'),
		url('fonts/apercu/ApercuPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-ExtraLightItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-ExtraLightItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Light.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Light.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-LightItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-LightItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Regular.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Regular.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Italic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Italic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Medium.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Medium.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-MediumItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-MediumItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Bold.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Bold.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-BoldItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-BoldItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-ExtraBold.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-ExtraBold.woff') format('woff'),
		url('fonts/apercu/ApercuPro-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-ExtraBoldItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-ExtraBoldItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-Black.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-Black.woff') format('woff'),
		url('fonts/apercu/ApercuPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apercu';
	src:
		url('fonts/apercu/ApercuPro-BlackItalic.woff2') format('woff2'),
		url('fonts/apercu/ApercuPro-BlackItalic.woff') format('woff'),
		url('fonts/apercu/ApercuPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-Light.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-Light.woff') format('woff'),
		url('fonts/grenette/GrenettePro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-LightItalic.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-LightItalic.woff') format('woff'),
		url('fonts/grenette/GrenettePro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-Regular.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-Regular.woff') format('woff'),
		url('fonts/grenette/GrenettePro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-Italic.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-Italic.woff') format('woff'),
		url('fonts/grenette/GrenettePro-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-SemiBold.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-SemiBold.woff') format('woff'),
		url('fonts/grenette/GrenettePro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-SemiBoldItalic.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-SemiBoldItalic.woff') format('woff'),
		url('fonts/grenette/GrenettePro-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-Bold.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-Bold.woff') format('woff'),
		url('fonts/grenette/GrenettePro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-BoldItalic.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-BoldItalic.woff') format('woff'),
		url('fonts/grenette/GrenettePro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-Black.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-Black.woff') format('woff'),
		url('fonts/grenette/GrenettePro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grenette';
	src:
		url('fonts/grenette/GrenettePro-BlackItalic.woff2') format('woff2'),
		url('fonts/grenette/GrenettePro-BlackItalic.woff') format('woff'),
		url('fonts/grenette/GrenettePro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* 100 Thin */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Thin.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Thin.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ThinItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ThinItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/* 200 ExtraLight */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLight.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLight.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLightItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLightItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

/* 300 Light */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Light.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Light.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-LightItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-LightItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* 400 Regular */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Regular.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Regular.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-RegularItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-RegularItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-RegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* 450 Normal */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Normal.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Normal.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Normal.ttf') format('truetype');
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-NormalItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-NormalItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-NormalItalic.ttf') format('truetype');
	font-weight: 450;
	font-style: italic;
	font-display: swap;
}

/* 500 Medium */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Medium.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Medium.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-MediumItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-MediumItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* 600 DemiBold */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-DemiBold.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-DemiBold.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-DemiBoldItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-DemiBoldItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* 700 Bold */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Bold.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Bold.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-BoldItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-BoldItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* 800 ExtraBold */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBold.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBold.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBoldItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBoldItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

/* 900 Black */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-Black.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-Black.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-BlackItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-BlackItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* 950 ExtraBlack */
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlack.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlack.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlack.ttf') format('truetype');
	font-weight: 950;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlackItalic.woff2') format('woff2'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlackItalic.woff') format('woff'),
		url('fonts/tt-norms-pro/TTNormsPro-ExtraBlackItalic.ttf') format('truetype');
	font-weight: 950;
	font-style: italic;
	font-display: swap;
}
